/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(254, 254, 254);
    text-decoration-color: white;
}

#form-control {
    background-color: gray;
}

.zoom-card {
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.zoom-card:hover {
    transform: scale(1.15); /* Aumenta el tamaño en un 5% */
}
  

  
